#titulo{
    width: 100%;
    text-align: center;
    font-size: 25px;
    color:blue;
}

.frm{
    margin-bottom: 10px;
}

.sub{
    margin-left: 70px;
}

#tabla{
    border: solid 1px;
}

td{
    border:solid 1px;
    margin: 5px;
}